@charset "utf-8";
/* ----- 全体の設定 ----- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: "Noto Sans JP", "Sans-serif";
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}
body {
	width: 100vw;
}
img {
	display: block;
}

/* ----- HEADER ----- */
