@charset "utf-8";
/* ----- 全体の設定 ----- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Sans JP", "Sans-serif";
	color: #000;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.5;
}
body {
	width: 100vw;
}
img {
	display: block;
}

/* ----- HEADER ----- */
header img {
	width: 100%;
}

/* ----- SECTION 共通 ----- */
h2 img {
	height: 60px;
	margin: 30px auto;
}
h3 {
	text-align: ceter;
	font-size: 20px;
	font-weight: 400;
}
.section-inner {
	width: 80%;
	margin: 0 auto;
}

/* ----- SECTION #01 ----- */
.featuring {
	width: 100%;
}
.featuring a {
	padding: 1em 20px;
	margin: 20px auto;
	text-decoration: none;
}
.featuring a::after {
	content: url("../img/arrow.png");
	margin-left: 5px;
}

/* ----- SECTION #02 ----- */
.section-chapters {
	background-image: url("../img/contents-list_bg.jpg");
	background: cover;
}
.chapters {
	padding: 20px;
	background-color: rgba(256, 256, 256, 0.5);
}
.chapters div {
	padding: 0.6em 0;
	border-bottom: 1px solid #000;
}
.chapter div:last-of-type {
	border-bottom: 0;
}





/* ----- FOOTER ----- */
footer {
	background-color: black;
}