@charset "utf-8";
/* ----- 全体の設定 ----- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Noto Sans JP", "Sans-serif";
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
}
body {
	width: 100vw;
}
img {
	display: block;
}

/* ----- HEADER ----- */
header img {
	width: 100%;
}

/* ----- SECTION 共通 ----- */
h2 {
	height: 40px;
}
dl {
	width: 80%;
	margin: 0 auto;
}
